body{
    background-color: #FFEFD5;
    font-family: "dejavu sans","arial",sans-Serif;
    font-size: 100%;
    margin: 20px;
}

a:link, a:visited{
    text-decoration: none;
}
a:hover, a:active{
    text-decoration: underline;
}

img{
    padding: 5px;
}

ul{
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 20px;
}

table.wikitable {
    margin: 1em 1em 1em 0;
    background-color: #f9f9f9;
    border: 1px #aaa solid;
    border-collapse: collapse;
    color: black;
}
table.wikitable > tr > th,
table.wikitable > tr > td,
table.wikitable > * > tr > th,
table.wikitable > * > tr > td {
    border: 1px #aaa solid;
    padding: 0.2em;
}
table.wikitable > tr > th,
table.wikitable > * > tr > th {
    background-color: #f2f2f2;
    text-align: center;
}
table.wikitable > caption {
    font-weight: bold;
}
