<meta name="twitter:title" content="{<span style="text-color: #FF0000;">[Página images/1.wiki no encontrada]</span>
<p>} - La web de emijrp"/></p>
    <meta name="keywords" content="web, emijrp, emilio, arte, astronomia, cine, fotografia, memoria, nostalgia, politica, software, viajes, wikis"/>
    <meta name="description" content="Te doy la bienvenida a mi web personal. Este sitio lo uso para recopilar información, tomar notas sobre todos los temas que me interesan y difundir mis ideas y proyectos."/>
    <meta name="twitter:description" content="Te doy la bienvenida a mi web personal. Este sitio lo uso para recopilar información, tomar notas sobre todos los temas que me interesan y difundir mis ideas y proyectos."/>
    <meta name="twitter:card" content="summary"/>
    <meta name="twitter:domain" content="http://emilio.org.es"/>
    <meta name="twitter:creator" content="Emilio.org.es"/>
    <meta name="twitter:image:src" content="http://emilio.org.es/images/levantando-la-bandera-helio-korzhev.jpg"/>
    <meta name="twitter:site" content="@emijrp"/>
